*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
$openSans: 'Open Sans', Helvetica, Arial, sans-serif;
body {
  background: #15181A;
  font-family: $openSans;
}

.skw-pages {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

$skewDeg: 18deg;
$magicVH: 32.4vh; // this number is magic and depends on skew angle
$scrollTime: 1s;

.skw-page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

  &__half {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100vh;
    transition: transform $scrollTime;

    &--left {
      left: 0;
      transform: translate3d(-$magicVH, 100%, 0);
        }

    &--right {
      left: 50%;
      transform: translate3d($magicVH, -100%, 0);
    }

    .skw-page.active & {
      transform: translate3d(0,0,0);
    }
  }

  &__skewed {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 140%;
    height: 100%;
    transform: skewX($skewDeg * -1);
    background: #000;

    .skw-page__half--left & {
      left: -40%;
    }
    .skw-page__half--right & {
      right: -40%;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 30%;
    color: #fff;
    transform: skewX($skewDeg);
    transition: transform $scrollTime, opacity $scrollTime;
    background-size: cover;

    #skw-page-home {
      justify-content: center;
    }

    .home-cluster {
      margin-bottom: 100px;
    }

    .skw-page__half--left & {
      padding-left: 30%;
      padding-right: 30%;
      transform-origin: 100% 0;
    }
    .skw-page__half--right & {
      padding-left: 30%;
      padding-right: 30%;
      transform-origin: 0 100%;
    }

    .skw-page.inactive & {
      opacity: 0.5;
      transform: skewX($skewDeg) scale(0.95);
    }
  }

  &__heading {
    margin-bottom: 40px;
    font-size: 25px;
    // margin-top: -200px;
  }

  &__description {
    font-size: 18px;
    text-align: center;
  }

  &__link {
    color: #FFA0A0;
  }

  &-1 {
    .skw-page__half--left .skw-page__content {
      background-image: url('https://wallpapercave.com/wp/wp3249029.jpg');
    }
    .skw-page__half--right .skw-page__content {
      background: lighten(#1C1C1C, 5%);
    }
  }
  &-2 {
    .skw-page__half--left .skw-page__content {
      background: lighten(#1C1C1C, 5%);
    }
    .skw-page__half--right .skw-page__content {
      background-image: url('https://www.colorhexa.com/ff6792.png');
    }
  }
  &-3 {
    .skw-page__half--left .skw-page__content {
      background-image: url('https://plchldr.co/i/336x280?&bg=72c835&text=');
    }
    .skw-page__half--right .skw-page__content {
      background: lighten(#1C1C1C, 5%);
    }
  }
  &-4 {
    .skw-page__half--left .skw-page__content {
      background: lighten(#1C1C1C, 5%);
    }
    .skw-page__half--right .skw-page__content {
      background-image: url('https://www.htmlcsscolor.com/preview/gallery/D3E9FF.png');
    }
  }
  &-5 {
    .skw-page__half--left .skw-page__content {
      background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/50/Black_colour.jpg');
    }
    .skw-page__half--right .skw-page__content {
      background: lighten(#1C1C1C, 5%);
    }
  }
}

.socialite-photo-1 {
  img {
    position: absolute;
    bottom: 8%;
    right: 15%;
    width: 73%;
    height: 53%;
    object-fit: cover;
    // box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
  }
}

  .socialite-photo-2 {
  img {
    position: absolute;
    top: 3%;
    right: 20%;
    width: 45%;
    height: 33%;
    object-fit: cover;
    // box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
  }
}

.airbnb-photo-1 {
  img {
    position: absolute;
    top: 5%;
    left: 17%;
    width: 73%;
    height: 53%;
    object-fit: cover;
  }
}

.airbnb-photo-2 {
  img {
    position: absolute;
    bottom: 49px;
    left: 220px;
    width: 47%;
    height: 33%;
    object-fit: cover;
  }
}


#main-heading {
  margin-left: 50px;
  display: inline-block
}

#main-heading-2 {
  margin-left: 25px;
  margin-bottom: 35vh;
  display: inline-block
}

.leophoto {
  img {
    height: 100%;
    width: 78%;
    margin-left: 13%;
    border-radius: 50%;
    overflow: hidden;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 450px;
  a {
    font-size: 45px;
    color: #33C2E0;
    letter-spacing: 12px;
  }
  p{
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 12px;
  }
}

.logo-child-1 {
  display: flex;
  vertical-align: center;
  align-items: center;
}

.logo-child-2 {
  display: flex;
  vertical-align: center;
  align-items: center;
  margin-left: -25px;
}

.logo-child-3 {
  display: flex;
  vertical-align: center;
  align-items: center;
  margin-left: -50px;
}

.fa-spotify {
  color: #1ED760;
  transition: .2s;
  -webkit-animation: fadein 2s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fa-spotify:hover {
  font-size: 51px;
  letter-spacing: 6px;
}

.fa-github {
  color: #8390A7;
  transition: .2s;
  -webkit-animation: fadein 2s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fa-github:hover {
  font-size: 51px;
  letter-spacing: 6px;
}

.fa-linkedin-in {
  color: white;
  transition: .2s;
  -webkit-animation: fadein 2s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fa-linkedin-in:hover {
  font-size: 51px;
  letter-spacing: 7px;
}

.home-cluster-phone {
  display: none;
}

.info-cluster-home {
  display: none;
}

.scroll-down-phone {
  display: none;
}

.phone-socialite-desc {
  display: none;
}

.airbnb-photo-1-ph {
  img {
    display: none;
  }
}

.phone-title-3 {
  display: none;
  }

.airbnb-photo-2-ph {
  img {
  display: none;
  }
}

@media (min-width: 2880 ) {

  .leophoto img {
    height: 400px;
    width: 400px;
  }

  .logo p  {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {

.airbnb-photo-1-ph {
    img {
    display: inline-block;
    position: absolute;
    bottom: 24%;
    left: -19%;
    width: 115%;
    height: 22%;
    }
}

.airbnb-photo-2-ph {
    img {
    display: inline-block;
    position: absolute;
    top: 79%;
    left: 18%;
    width: 102%;
    height: 19%
    }
}

  .skw-page__skewed {
  overflow: inherit;
  }

  .skw-page-1 .skw-page__half--left .skw-page__content {
   background-image: none;
  }

  .skw-page__half--right .skw-page__content {
    align-content: center;
  }

  .leophoto {
    display: flex;
    justify-content: center;
    margin-top: -400%;
  }

  .leophoto img {
    height: 100%;
    width: 140%;
  }

  .skw-page__description {
    font-size: 10px
  }

  .logo {
    top: 42%;
    width: 120%;
  }

  .logo-child-2 {
    margin-left: 0px;
  }

  .logo-child-3 {
    margin-left: 0px;
  }

  .home-cluster-phone {
    display: inline-block;
    width: 150%;
    margin-top: 10%;
  }

  .scroll-big {
    display: none;
  }

  .home-cluster-phone {
    h1 {
      font-size: 30px;
    }

    h3 {
      font-size: 20px;
    }
  }

  .info-cluster-home {
    display: inline-block;
    margin-top: 8%;
    text-align: center;
    padding: 5%;
    h5 {
      font-size: 15px;
    }
  }

  .scroll-down-phone {
    display: inline-block;
    margin-top: 5%;
  }

  .phone-socialite-desc {
    h2 {
      margin-left: -23%
    }
    display: inline-block;
    width: 240%;
    margin-top: -260%;
    text-align: center;
  }

  .socialite-photo-1 img {
    width: 110%;
    height: 20%;
    bottom: 18%;
    right: 14%;
  }

  .socialite-photo-2 img {
    top: 83%;
    right: -20%;
    width: 78%;
    height: 15%;
  }

  .phone-title-2 {
    text-align: center;
    margin-top: -435%;
    margin-left: 6%;
    width: 235%;
  }

  .phone-title-3 {
    display: inline-block;
    text-align: center;
    margin-top: -350%;
    margin-left: 6%;
    width: 235%;
      h2 {
        color: #292929
      }

      p {
        color: #292929
      }
  }
}


// Specific CSS for your home-page
