*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
$openSans: 'Open Sans', Helvetica, Arial, sans-serif;
body {
  background: #15181A;
  font-family: $openSans;
}

.skw-pages {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

$skewDeg: 18deg;
$magicVH: 32.4vh; // this number is magic and depends on skew angle
$scrollTime: 1s;

.skw-page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

  &__half {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100vh;
    transition: transform $scrollTime;

    &--left {
      left: 0;
      transform: translate3d(-$magicVH, 100%, 0);
        }

    &--right {
      left: 50%;
      transform: translate3d($magicVH, -100%, 0);
    }

    .skw-page.active & {
      transform: translate3d(0,0,0);
    }
  }

  &__skewed {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 140%;
    height: 100%;
    transform: skewX($skewDeg * -1);
    background: #000;

    .skw-page__half--left & {
      left: -40%;
    }
    .skw-page__half--right & {
      right: -40%;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column wrap;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 30%;
    color: #fff;
    transform: skewX($skewDeg);
    transition: transform $scrollTime, opacity $scrollTime;
    background-size: cover;

    .skw-page__half--left & {
      padding-left: 30%;
      padding-right: 30%;
      transform-origin: 100% 0;
    }
    .skw-page__half--right & {
      padding-left: 30%;
      padding-right: 30%;
      transform-origin: 0 100%;
    }

    .skw-page.inactive & {
      opacity: 0.5;
      transform: skewX($skewDeg) scale(0.95);
    }
  }

  &__heading {
    margin-bottom: 40px;
    font-size: 25px;
    // margin-top: -200px;
  }

  &__description {
    font-size: 18px;
    text-align: center;
  }

  &__link {
    color: #FFA0A0;
  }

  &-1 {
    .skw-page__half--left .skw-page__content {
      background-image: url('https://www.colorhexa.com/70c3df.png');
    }
    .skw-page__half--right .skw-page__content {
      background: lighten(#1C1C1C, 5%);
    }
  }
  &-2 {
    .skw-page__half--left .skw-page__content {
      background: lighten(#1C1C1C, 5%);
    }
    .skw-page__half--right .skw-page__content {
      background-image: url('https://www.colorhexa.com/ff6792.png');
    }
  }
  &-3 {
    .skw-page__half--left .skw-page__content {
      background-image: url('https://plchldr.co/i/336x280?&bg=72c835&text=');
    }
    .skw-page__half--right .skw-page__content {
      background: lighten(#1C1C1C, 5%);
    }
  }
  &-4 {
    .skw-page__half--left .skw-page__content {
      background: lighten(#1C1C1C, 5%);
    }
    .skw-page__half--right .skw-page__content {
      background-image: url('https://www.colorhexa.com/ffc300.png');
    }
  }
  &-5 {
    .skw-page__half--left .skw-page__content {
      background-image: url('https://www.htmlcsscolor.com/preview/gallery/D3E9FF.png');
    }
    .skw-page__half--right .skw-page__content {
      background: lighten(#1C1C1C, 5%);
    }
  }
}

.socialite-photo-1 {
  img {
    position: absolute;
    bottom: 49px;
    right: 137px;
    // box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
  }
}

  .socialite-photo-2 {
  img {
    position: absolute;
    top: 30px;
    right: 180px;
    // box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
  }
}

.airbnb-photo-1 {
  img {
    position: absolute;
    top: 30px;
    left: 180px;
  }
}

.airbnb-photo-2 {
  img {
    position: absolute;
    bottom: 49px;
    left: 220px;
  }
}


#main-heading {
  margin-left: 50px;
  display: inline-block
}

#main-heading-2 {
  margin-left: 25px;
  margin-bottom: 35vh;
  display: inline-block
}

.leophoto {
  img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    overflow: hidden;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 30px;
  a {
    font-size: 45px;
    color: #33C2E0;
    letter-spacing: 12px;
  }
  p{
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 12px;
  }
}

.logo-child-1 {
  display: flex;
  vertical-align: center;
  align-items: center;
}

.logo-child-2 {
  display: flex;
  vertical-align: center;
  align-items: center;
  margin-left: -25px;
}

.logo-child-3 {
  display: flex;
  vertical-align: center;
  align-items: center;
  margin-left: -50px;
}

.fa-spotify {
  color: #1ED760;
  transition: .2s;
  -webkit-animation: fadein 5s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fa-spotify:hover {
  font-size: 51px;
  letter-spacing: 6px;
}

.fa-github {
  color: #8390A7;
  transition: .2s;
  -webkit-animation: fadein 6s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fa-github:hover {
  font-size: 51px;
  letter-spacing: 6px;
}

.fa-linkedin-in {
  color: white;
  transition: .2s;
  -webkit-animation: fadein 7s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fa-linkedin-in:hover {
  font-size: 51px;
  letter-spacing: 7px;
}







// Specific CSS for your home-page
